:root {
  --primary-color: #f9f5f6;
  --secondary-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  background: var(--primary-color);
  height: 100%;
  isolation: isolate;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

link {
  display: inline-block;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 15vh;
}

.active-menu {
  height: 100%;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 0px 20px;
  background: var(--primary-color);
  z-index: 3;
}

.second-section {
  background: var(--primary-color);
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  z-index: 1;
}

.logo a,
.logo a:active {
  color: var(--secondary-color);
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

ul li {
  list-style: none;
  margin: 20px;
}

.links {
  display: none;
}

.nav-button {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
}

ul li a,
ul li a:active,
ul li a:focus {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  /* font-weight: 700; */
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 15px;
  /* font-weight: 700; */
  border-radius: 4px;
}

.arrow {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
  transform: rotate(0deg);
  transition: transform 0.5s ease-out;
}
.courses-link {
  position: relative;
  height: 40px;
  /* isolation: isolate; */
}

.dropdown-content {
  display: none;

  width: 100%;
  background: var(--secondary-color);
  border-radius: 4px;
  margin-top: 10px;
  z-index: 10;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.dropdown-content a {
  color: var(--primary-color);

  border-radius: 4px;
  margin: 10px 5px;
  height: 40px;
}
.courses-link:hover .dropdown-content {
  display: inline-block;
}

.courses-link:hover .arrow {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.dropdown-content a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 15px;
  font-weight: 700;
  border-radius: 4px;
}

.landing-animation {
  height: 85vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*? REPORTS PAGE */
.reports {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.f-report {
  width: 100%;
  border: 1px solid 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-report h1 {
  /* text-align: center; */
  font-size: 1.75rem;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
}

.project {
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.desc {
  display: flex;
  border-bottom: 1px solid black;
}
.desc-left {
  width: 25%;
  padding: 2.5px 5px;
  border-right: 1px solid black;
}
.desc-right {
  width: 75%;
  padding: 2.5px 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #787878;
}

.download {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.25rem;

  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  justify-self: flex-start;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  transform: translateY(0px);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.download:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;

  transition: all 0.2s ease;
}

.download:active {
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  transition: all 0.2s ease;
}

/*? TEAM SECTION */

.team {
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  z-index: 1;
  isolation: isolate;
}

.team h1 {
  /* text-align: center; */
  font-size: 1.75rem;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
}

.member-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  isolation: isolate;
  z-index: 2;
}

.member {
  width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border-radius: 20px;
}

.member img {
  border-radius: 20px;
}

.member-title {
  position: absolute;
  bottom: 20px;
  background: var(--primary-color);
  font-size: 1.5rem;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  text-transform: uppercase;
}

/*? PRICING */

.cart {
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
}

.cart-items {
  width: 100%;
  padding: 10px;
  /* border: 1px solid blue; */
}
.cart-items h2 {
  padding: 0px 20px;
  font-size: 1.75rem;
  font-weight: 100;
}
.item {
  width: 100%;
  height: 200px;
  background: #9376e0;
  border-radius: 10px;
  margin: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.item-con {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.courses-btn,
.courses-btn:visited,
.courses-btn:active {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  height: fit-content;
}

.item--price {
  font-weight: 100;
  font-size: 1.25rem;
}

.cart-checkout {
  width: 100%;
  /* height: 300px; */

  background: var(--secondary-color);
  color: var(--primary-color);

  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.cart-checkout h2 {
  font-size: 1.75rem;
  /* border: 1px solid blue; */
  height: 15%;
  margin-bottom: 25px;
}

.payment-method {
  font-size: 1.25rem;
  /* border: 1px solid green; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-method h5 {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 5px;
}

.payment-method-btns {
  margin-bottom: 25px;
}
.payment-method-btns-con {
  display: flex;

  align-items: center;
  gap: 20px;
}

.credit {
  padding: 5px 15px;
  border-radius: 5px;
  /* font-weight: 800; */
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.payment-name {
  margin-bottom: 25px;
}
.payment-name input {
  border: none;
  padding: 5px;
  width: 100%;
  border: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.payment-number {
  margin-bottom: 25px;
}

.payment-number input {
  border: none;
  padding: 5px;
  width: 100%;
  border: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.payment-exp {
  margin-bottom: 30px;
}

.payment-exp-inputCon {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 40px;
}

.payment-exp-inputCon input {
  width: 50px;
  padding: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.checkout {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 300;
  outline: none;
  border: none;
  transform: translateY(0px);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.checkout:hover {
  transform: translateY(-1px);
}

.checkout:active {
  transform: translateY(2px);
}

/*? INDICATORS  */

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! FOOTER */

footer {
  background: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer .top .logo {
  font-size: 1rem;
}

footer .top .resources {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .top .resources a,
footer .top .resources a:active,
footer .top .resources a:visited {
  color: #8f8f8f;
}
.bottom {
  border-top: 1px solid var(--primary-color);
  padding: 10px 0px;
  text-align: center;
}

/*! MEDIA QUERIES */

@media screen and (min-width: 768px) {
  nav {
    overflow: visible;
    position: relative;
    height: 15vh;
    background: var(--primary-color);
    z-index: 0;
  }
  .second-section {
    display: none;
  }

  .first-section {
    padding: 0px 30px;
    height: 100%;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li a,
  ul li a:active,
  ul li a:focus {
    font-size: 1.65rem;
  }

  .nav-button {
    display: none;
  }

  .courses-link {
    height: 30px;
    /* height: auto; */
  }

  .dropdown-content {
    position: absolute;
    top: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .first-section {
    padding: 0px 60px;
  }
  .reports {
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    min-height: 65vh;
  }

  .f-report {
    max-width: 700px;
    border: 1px solid 100%;
  }

  .project {
    font-size: 1.25rem;
  }

  ul {
    gap: 20px;
  }
  ul li a,
  ul li a:active,
  ul li a:focus {
    font-size: 2rem;
  }
  .team {
    min-height: 65vh;
    justify-content: center;
  }

  .team h1 {
    /* text-align: center; */
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
  }

  .member-con {
    gap: 50px;
  }

  .cart {
    flex-direction: row;
    justify-content: center;
    padding: 0px 80px;

    min-height: 65vh;
    padding-bottom: 50px;
  }

  .cart-items {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .cart-items h2 {
    font-size: 2.5rem;
  }

  .item {
    /* width: 400px; */
    margin-bottom: 30px;
    height: 300px;
  }

  .item--price {
    font-size: 1.75rem;
  }

  .courses-btn {
    font-size: 1.75rem;
  }

  .cart-checkout {
    max-width: 500px;
    /* height: 70%; */
    margin-top: 60px;
  }

  .indicators {
    min-height: 65vh;
  }
  footer {
    height: 20vh;
    padding: 20px 250px;
  }
}

@media screen and (min-width: 1470px) {
  .team {
    height: 65vh;
  }
}
